<div class="container">
	<% if flash[:notice] %>
		<h4 class="row error">The following error occurred:<br>-<%= flash[:notice] %></h4>
		<br>
	<% end %>
	<div class="row">
		<%= form_tag('/authentication') do  %>
			<%= text_field_tag 'password', nil, class: "col-xs-6 offset-xs-2", placeholder: "Gramercy Tech Password", autocorrect: "off", autocapitalize: "none", autofocus: true %>
			<%= submit_tag "Submit", class: "col-xs-2 btn btn-success" %>
		<% end %>
	</div>
	<div class="row" id="help">
		<h5 class="col-xs-12">Before you begin please configure the scanner.<br>See the <span style="color:#31B0D5;">help</span> page to locate QR and bar codes.</h5><br><br><br>
		<%= link_to 'Help', {:action => :help}, :class => "col-xs-2 offset-xs-5 btn btn-info" %>
	</div>
</div>