<div class="container">
	<div class="row">
		<%= form_tag(admin_path, :method => "get", id: "search-form") do %>
			<%= text_field_tag :search, params[:search], class: "col-xs-6 offset-xs-2", id: "search-bar", placeholder: "Search by last name" %>
			<%= submit_tag "Search", class: "col-xs-2 btn btn-success" %>
		<% end %>
	</div>
	<br>
	<div class="row">
		<% if params[:search] && @scans%>
			<!-- IF SEARCHING AND HAS RESULTS DISPLAY RESULT -->
			<%= @scans %>
	  <% elsif params[:search] %>
	  	<!-- IF SEARCHING BUT NO RESULTS -->
			<p>There are no posts containing the term(s) "<%= params[:search] %>".</p>
	  <% else %>
	  	<!-- IF FIRST TIME ON PAGE -->
	  	<%= @scans %>
		<% end %>
	</div>
</div>